extends ../layout

block styles
	link(rel='stylesheet', href="#{'/public/css/' + project.name + '-main-' + project.version + '.css'}")
	link(rel='stylesheet', href="#{'/public/css/' + project.name + '-welcome-' + project.version + '.css'}")

block scripts
	script(src="#{'/public/js/' + project.name + '-welcome-' + project.version + (project.js.useMinified ? '.min' : '') + '.js'}")

block content
	article
		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')

		each session in currentEvent.sessions
			include ../includes/session

		section.sponsor.aconex
			h4 Venue and Beer Sponsor
			img(src='/public/img/aconex-logo.gif', alt='Aconex')

		section.sponsor.thoughtworks
			h4 Pizza Sponsor
			img(src='/public/img/thoughtworks-logo.gif', alt='Thoughtworks')

		section.sponsor.seek
			h4 Bar Tab Sponsor
			img(src='/public/img/seek-logo.png', alt='SEEK')

		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')

		section.sponsor.aconex
			h4 Venue and Beer Sponsor
			img(src='/public/img/aconex-logo.gif', alt='Aconex')

		section.sponsor.thoughtworks
			h4 Pizza Sponsor
			img(src='/public/img/thoughtworks-logo.gif', alt='Thoughtworks')

		section.sponsor.seek
			h4 Bar Tab Sponsor
			img(src='/public/img/seek-logo.png', alt='SEEK')

		each session in nextEvent.sessions
			include ../includes/session

		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')