extends ../layout

block head
	title MelbJS - Welcome

block styles
	link(rel='stylesheet', href="#{'/public/css/' + project.name + '-main-' + project.version + '.css'}")
	link(rel='stylesheet', href="#{'/public/css/' + project.name + '-welcome-' + project.version + '.css'}")

block scripts
	script(src="#{'/public/js/' + project.name + '-welcome-' + project.version + (project.js.useMinified ? '.min' : '') + '.js'}")

block content
	article
		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')

		each session in currentEvent.sessions
			include ../includes/session

		section.sponsor.aconex
			h4 Venue and Beer Sponsor
			img(src='/public/img/aconex-logo.png', alt='Aconex')

		section.sponsor.thoughtworks
			h4 Pizza Sponsor
			img(src='/public/img/thoughtworks-logo.gif', alt='Thoughtworks')

		section.sponsor.learnable
			h4 Video Sponsor
			img(src='/public/img/learnable-logo.png', alt='Learnable')

		section.sponsor.seek
			h4 Bar Tab Sponsor
			img(src='/public/img/seek-logo.png', alt='SEEK')

		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')

		each session in nextEvent.sessions
			include ../includes/session

		section.sponsor.aconex
			h4 Venue and Beer Sponsor
			img(src='/public/img/aconex-logo.png', alt='Aconex')

		section.sponsor.thoughtworks
			h4 Pizza Sponsor
			img(src='/public/img/thoughtworks-logo.gif', alt='Thoughtworks')

		section.sponsor.learnable
			h4 Video Sponsor
			img(src='/public/img/learnable-logo.png', alt='Learnable')

		section.sponsor.seek(style='padding-top: 0')
			h4 Bar Tab Sponsor
			img(src='/public/img/seek-logo.png', alt='SEEK')
			h1 Duke of Wellington
			h2 Cnr Flinders &amp; Russel St

		section.sponsor
			img(src='/public/img/logo-large.png', alt='Melb JS', style='width: 560px; margin: 40px 0;')
			h2 Any help packing up would be much appreciated :)