extends ../layout

block head
	title MelbJS - Welcome

block styles
	link(rel='stylesheet', href="#{'/public/css/' + project.name + '-main-' + project.version + '.css'}")
	link(rel='stylesheet', href="#{'/public/css/' + project.name + '-welcome-' + project.version + '.css'}")

block scripts
	script(src="#{'/public/js/' + project.name + '-welcome-' + project.version + (project.js.useMinified ? '.min' : '') + '.js'}")

block content
	article
		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')

		each session in currentEvent.sessions
			include ../includes/session

		section.sponsor.codeofconduct
			h2 Speakers wanted...

		section.sponsor.aconex
			h4 Venue and Drink Sponsor
			img(src='/public/img/aconex-logo.png', alt='Aconex')
			h3 aconex.com/careers

		section.sponsor.thoughtworks
			h4 Food Sponsor
			img(src='/public/img/thoughtworks-logo.gif', alt='Thoughtworks')
			h3 thoughtworks.com/careers

		section.sponsor.seek
			h4 Bar Tab Sponsor
			img(src='/public/img/seek-logo.png', alt='SEEK')
			h3 seek.com.au/work-for-seek

		section.sponsor.codeofconduct
			h2 Code of Conduct

		section.title
			img(src='/public/img/logo-large.png', alt='Melb JS')

		each session in nextEvent.sessions
			include ../includes/session

		section.sponsor.codeofconduct
			h2 Speakers wanted!

		section.sponsor.aconex
			h4 Venue and Drink Sponsor
			img(src='/public/img/aconex-logo.png', alt='Aconex')
			h3 aconex.com/careers

		section.sponsor.thoughtworks
			h4 Food Sponsor
			img(src='/public/img/thoughtworks-logo.gif', alt='Thoughtworks')
			h3 thoughtworks.com/careers

		section.sponsor.seek(style='padding-top: 0')
			h4 Bar Tab Sponsor
			img(src='/public/img/seek-logo.png', alt='SEEK')
			h3 seek.com.au/work-for-seek
			h1 Duke of Wellington
			h2 Cnr Flinders &amp; Russel St

		section.sponsor
			img(src='/public/img/logo-large.png', alt='Melb JS', style='width: 560px; margin: 40px 0;')
			h2 Any help packing up would be much appreciated :)
