*
  box-sizing: border-box

body
  overflow: hidden

h1
  font-size: 72px
  margin-top: 100px

h2
  font-size: 48px

h3
  font-size: 24px
  margin-top: 34px
  .thoughtworks &
    margin-top: -4px

section
  width: 700px
  height: 400px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -350px
  margin-top: -200px

section.title img
  width: 640px
  height: 176px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -320px
  margin-top: -88px

section.sponsor
  text-align: center

section.sponsor h1
  margin-top: 60px

section.sponsor.aconex
  padding-top: 100px

section.sponsor.aconex img
  width: 480px
  margin-top: 44px

section.sponsor.thoughtworks
  padding-top: 80px

section.sponsor.thoughtworks img
  width: 740px
  position: relative
  left: -14px

section.sponsor.learnable
  padding-top: 50px

section.sponsor.learnable img
  width: 510px
  position: relative
  top: 30px

section.sponsor.seek
  padding-top: 80px

section.sponsor.seek img
  width: 450px
  position: relative
  left: -19px
  top: 20px

section.event
  background-size: contain
  background-repeat: no-repeat
  background-position: 50% 50%

section.sponsor h4
  font-size: 24px
  position: relative
  z-index: 1

section.sponsor.codeofconduct h2
  font-size: 80px
  margin-top: 150px

section.presentations ul li
  padding-top: 90px
  width: 790px

section.presentations ul li h3
  font-size: 52px
  line-height: 52px
  margin-top: 18px

section.presentations ul li h4
  font-size: 24px
  line-height: 32px

section.presentations ul li h4
  &, & a
    color: #606060

section.presentations ul li
  img,
  .avatar
    float: left
    background-size: cover
    background-position: center
    width: 192px
    height: 192px
    border-radius: 18px
    margin-right: 42px
  .no-avatar
    border-width: (192/2)px

.bespoke-parent
  perspective: 600px
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0

section
  transform: none
  opacity: 0

section.bespoke-slide
  transition: all 1s ease
  opacity: 0

section.bespoke-active
  opacity: 1

section.bespoke-inactive
  opacity: 0

section.bespoke-before
  transform: translateX(-700px) rotateY(-90deg) translateX(-700px)

section.bespoke-after
  transform: translateX(700px) rotateY(90deg) translateX(700px)
